
.accordion-item {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.accordion-body {
    text-align: justify;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: var(--info);
}
